<form method="post" action="{{ path('app_utilisateur_adresse_delete', {'id': utilisateur_adresse.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ utilisateur_adresse.id) }}">
    <button class="btn">Delete</button>
</form>
