{% extends 'base.html.twig' %}

{% block title %}Edit UtilisateurAdresse{% endblock %}

{% block body %}
    <h1>Edit UtilisateurAdresse</h1>

    {% if is_granted('ROLE_ADMIN') or app.user == utilisateur_adresse.utilisateur %}
        {{ include('utilisateur_adresse/_form.html.twig', {'button_label': 'Modifier'}) }}
    {% else %}
        <p class="alert alert-warning">Vous n'avez pas les droits pour modifier cette adresse.</p>
    {% endif %}

    <a href="{{ path('app_utilisateur_adresse_index') }}">Retour à la liste</a>

    {{ include('utilisateur_adresse/_delete_form.html.twig') }}
{% endblock %}