{% extends 'base.html.twig' %}

{% block title %}Nouvelle Adresse Utilisateur{% endblock %}

{% block body %}
    <h1>Ajouter une adresse</h1>

    {% if is_granted('ROLE_USER') %}
        {{ include('utilisateur_adresse/_form.html.twig') }}
    {% else %}
        <p class="alert alert-warning">Vous devez être connecté pour ajouter une adresse.</p>
    {% endif %}

    <a href="{{ path('app_utilisateur_adresse_index') }}">Retour à la liste</a>
{% endblock %}