{% extends 'base.html.twig' %}

{% block title %}Nouveau mot de passe{% endblock %}

{% block body %}
    <h1>Nouveau mot de passe</h1>

    <form method="post">
        <label for="password">Nouveau mot de passe</label>
        <input type="password" name="password" id="password" required autofocus
            placeholder="Minimum 6 caractères">

        <label for="confirm">Confirmer le mot de passe</label>
        <input type="password" name="confirm" id="confirm" required
            placeholder="Répétez le mot de passe">

        <button type="submit" class="btn btn-primary">
            Enregistrer le nouveau mot de passe
        </button>
    </form>
{% endblock %}