{% if is_granted('ROLE_ADMIN') %}
<form method="post" action="{{ path('app_produit_categorie_delete', {'id': produit_categorie.id}) }}" onsubmit="return confirm('Voulez vous supprimer cette Catégorie Produit ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ produit_categorie.id) }}">
    <button class="btn btn-danger btn-sm">Supprimer</button>
</form>
{% endif %}