<footer>
    <div class="footer-content">

        {# ===== COLONNE INFOS ===== #}
        <div class="footer-col">
            <h4>Globale C.E.</h4>
            <p>
                24, avenue Maréchal Foch<br>
                Résidence Louis Leray<br>
                35290 Saint Meen Le Grand
            </p>
            <p>
                Lundi, mardi, mercredi et vendredi<br>
                10h-12h et 14h-18h<br>
                Jeudi sur rendez-vous
            </p>
        </div>

        {# ===== COLONNE CONTACT ===== #}
        <div class="footer-col">
            <h4>Nous contacter</h4>
            <div class="footer-contact">
                <span>09 67 35 56 32</span>
                <a href="mailto:globale-ce@orange.fr">globale-ce@orange.fr</a>
            </div>
        </div>

        {# ===== COLONNE LIENS ===== #}
        <div class="footer-col">
            <h4>Informations</h4>
            <ul>
                <li><a href="#">Contactez-nous</a></li>
                <li><a href="#">FAQs</a></li>
                <li><a href="#">Mentions légales</a></li>
                <li><a href="#">Politique de confidentialité</a></li>
                <li><a href="#">CGV</a></li>
            </ul>
        </div>

    </div>

    <hr class="footer-divider">

    <div class="footer-bottom">
        À bientôt chez <span>Globale C.E.</span>
    </div>
</footer>