{% extends 'base.html.twig' %}

{% block title %}Edit CouponReduction{% endblock %}

{% block body %}
    <h1>Edit CouponReduction</h1>

    {{ include('coupon_reduction/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_coupon_reduction_index') }}">back to list</a>

    {{ include('coupon_reduction/_delete_form.html.twig') }}
{% endblock %}
