{% extends 'base.html.twig' %}

{% block title %}Nouveau Produit{% endblock %}

{% block body %}
    <h1>Créer Nouveau Produit</h1>

    {% if is_granted('ROLE_ADMIN') %}
        {{ include('produit/_form.html.twig') }}
    {% else %}
        <p class="alert alert-warning">Vous n'avez pas les droits pour créer un produit.</p>
    {% endif %}

    <a href="{{ path('app_produit_index') }}">Retour à la liste</a>
{% endblock %}