{% extends 'base.html.twig' %}

{% block title %}Nouvelle Catégorie Article{% endblock %}

{% block body %}
    <h1>Créer Nouvelle Catégorie Article</h1>

    {% if is_granted('ROLE_ADMIN') %}
        {{ include('article_categorie/_form.html.twig') }}
    {% else %}
        <p class="alert alert-warning">Vous n'avez pas les droits pour créer une catégorie.</p>
    {% endif %}

    <a href="{{ path('app_article_categorie_index') }}">Retour à la liste</a>
{% endblock %}