@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

h1 {
    margin-bottom: $spacing-md;
    color: $color-bg-dark;
    font-size: 1.8rem;
    font-family: $font-title;
}

h2 {
    margin: $spacing-lg 0 $spacing-sm;
    color: $color-bg-dark;
    font-size: 1.4rem;
    font-family: $font-subtitle;
}

h3 {
    margin: $spacing-md 0 $spacing-sm;
    color: $color-bg-dark;
    font-size: 1.2rem;
    font-family: $font-subtitle;
}

p {
    line-height: 1.6;
    font-family: $font-text;
    color: $color-text-dark;
}

hr {
    margin: $spacing-lg 0;
    border: none;
    border-top: 1px solid #ddd;
}