{% extends 'base.html.twig' %}

{% block title %}Nouvelle Commande{% endblock %}

{% block body %}
    <h1>Créer Nouvelle Commande</h1>

    {% if is_granted('ROLE_ADMIN') %}
        {{ include('commande/_form.html.twig') }}
    {% else %}
        <p class="alert alert-warning">Vous n'avez pas les droits pour créer une commande.</p>
    {% endif %}

    <a href="{{ path('app_commande_index') }}">Retour à la liste</a>
{% endblock %}