{% if is_granted('ROLE_ADMIN') %}
<form method="post" action="{{ path('app_utilisateur_groupe_delete', {'id': utilisateur_groupe.id}) }}" onsubmit="return confirm('Voulez vous supprimer ce Groupe Utilisateur ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ utilisateur_groupe.id) }}">
    <button class="btn">Supprimer</button>
</form>
{% endif %}