{% extends 'base.html.twig' %}

{% block title %}Modifier Groupe Utilisateur{% endblock %}

{% block body %}
    <h1>Modifier Groupe Utilisateur</h1>

    {% if is_granted('ROLE_ADMIN') %}
        {{ include('utilisateur_groupe/_form.html.twig', {'button_label': 'Modifier'}) }}
    {% else %}
        <p class="alert alert-warning">Vous n'avez pas les droits pour modifier ce groupe.</p>
    {% endif %}

    <a class="btn-return" href="{{ path('app_utilisateur_groupe_index') }}">Retour à la liste</a>

    {{ include('utilisateur_groupe/_delete_form.html.twig') }}
{% endblock %}
