{% extends 'base.html.twig' %}

{% block title %}Edit UtilisateurGroupe{% endblock %}

{% block body %}
    <h1>Edit UtilisateurGroupe</h1>

    {{ include('utilisateur_groupe/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_utilisateur_groupe_index') }}">back to list</a>

    {{ include('utilisateur_groupe/_delete_form.html.twig') }}
{% endblock %}
