{% extends 'base.html.twig' %}

{% block title %}New UtilisateurGroupe{% endblock %}

{% block body %}
    <h1>Create new UtilisateurGroupe</h1>

    {{ include('utilisateur_groupe/_form.html.twig') }}

    <a href="{{ path('app_utilisateur_groupe_index') }}">back to list</a>
{% endblock %}
