{% extends 'base.html.twig' %}

{% block title %}Nouveau Groupe Utilisateur{% endblock %}

{% block body %}
    <h1>Créer Nouveau Groupe Utilisateur</h1>

    {% if is_granted('ROLE_ADMIN') %}
        {{ include('utilisateur_groupe/_form.html.twig') }}
    {% else %}
        <p class="alert alert-warning">Vous n'avez pas les droits pour créer un groupe.</p>
    {% endif %}

    <a href="{{ path('app_utilisateur_groupe_index') }}">Retour à la liste</a>
{% endblock %}