{% extends 'base.html.twig' %}

{% block title %}Edit CouponCategorie{% endblock %}

{% block body %}
    <h1>Edit CouponCategorie</h1>

    {{ include('coupon_categorie/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_coupon_categorie_index') }}">back to list</a>

    {{ include('coupon_categorie/_delete_form.html.twig') }}
{% endblock %}
