{% extends 'base.html.twig' %}

{% block title %}Nouvelle Catégorie Coupon{% endblock %}

{% block body %}
    <h1>Créer nouvelle Catégorie</h1>

    {{ include('coupon_categorie/_form.html.twig') }}

    <a class="btn-return" href="{{ path('app_coupon_categorie_index') }}">Retour à la liste</a>
{% endblock %}
