{% extends 'base.html.twig' %}

{% block title %}Nouveau Article{% endblock %}

{% block body %}
    <h1>Créer Nouveau Article</h1>

    {% if is_granted('ROLE_ADMIN') %}
        {{ include('article/_form.html.twig') }}
    {% else %}
        <p class="alert alert-warning">Vous n'avez pas les droits pour créer un article.</p>
    {% endif %}

    <a href="{{ path('app_article_index') }}">Retour à la liste</a>
{% endblock %}
